body {
    background-image: url('martabak-enak-di-bandung.JPG');
    margin:0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: brown;
    width: 100%
}
li {
    float: left;
}
li:last-child{
    border-right: 1px solid #bbb;
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    color: black;
}
footer{
    background-color: brown;
    padding: 10px;
    margin:0;
    width: 100%;
    color: white;
    text-align: center;

}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    background-color: yellow;
    color: red;
}
.a{
    padding: 20px;
    margin-top: 30px;
    background-color: #6a7573;
    height: 250px;
    color: white;
}
.bg-1{
    background-image: url('Rujak-Cireng (1).jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    padding:20px;
    margin-top: 30px;

}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
.btn {
    position: relative;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration:0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border:2px solid yellow;
    background-color: grey;
    color: red;
    top: 50%;
    left:45%;
}
.btn:hover{
    background-color: yellow;
    color: red;

}
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-width: 100px; /* Chrome, Safari, Opera */
    -moz-column-width: 100px; /* Firefox */
    column-width: 100px;
}
p {
    font-family: raleway;

}
.smk{
    width: 100px;
    height: 100px;
}
.smkit {
    width: 100%;

}